.dad{
	-webkit-animation: dad_ 5s; /* Chrome, Safari, Opera */
	animation: dad_ 5s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	animation-delay: 1s;
	-webkit-animation-delay: 1s;
	animation-direction: alternate;
	-webkit-animation-direction: alternate;
}
.dad .pie{
	width:50%;
	height:50%;
	margin-left:25%;
}

.dad  #a{
	-webkit-animation: dad_a 5s; /* Chrome, Safari, Opera */
	animation: dad_a 5s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	animation-delay: 1s;
	-webkit-animation-delay: 1s;
	animation-direction: alternate;
	-webkit-animation-direction: alternate;
}

.dad  #b{
	-webkit-animation: dad_b 5s; /* Chrome, Safari, Opera */
	animation: dad_b 5s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	animation-delay: 1s;
	-webkit-animation-delay: 1s;
	animation-direction: alternate;
	-webkit-animation-direction: alternate;
}
.dad  #c{
	-webkit-animation: dad_c 5s; /* Chrome, Safari, Opera */
	animation: dad_c 5s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	animation-delay: 1s;
	-webkit-animation-delay: 1s;
	animation-direction: alternate;
	-webkit-animation-direction: alternate;
}
.dad  #d{
	-webkit-animation: dad_d 5s; /* Chrome, Safari, Opera */
	animation: dad_d 5s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	animation-delay: 1s;
	-webkit-animation-delay: 1s;
	animation-direction: alternate;
	-webkit-animation-direction: alternate;
}
	
	
		/* Chrome, Safari, Opera */
	@-webkit-keyframes dad_ {
		from {background: rgb(0,0,255); left:0%; top:5%;border-bottom-left-radius:45%;border-bottom-right-radius:0%;border-top-left-radius:0%;border-top-right-radius:35%;}
		to {background: rgb(0,0,50); left:50%; top:35%;border-bottom-left-radius:0%;border-bottom-right-radius:45%;border-top-left-radius:35%;border-top-right-radius:0%;}
	}
	/* Standard syntax */
	@keyframes dad_ {
		from {background: darkblue; left:0%; top:-50%;}
		to {background: green; left:72.5%; top:-73%;}
	}
	
	
	/* Chrome, Safari, Opera */
	@-webkit-keyframes dad_a {
		from {background: darkblue; left:0%; top:0%;}
		to {background: green; left:120%; top:73%;}
	}
	/* Standard syntax */
	@keyframes dad_a {
		from {background: darkblue; left:0%; top:0%;}
		to {background: green; left:120%; top:73%;}
	}
	
	/* Chrome, Safari, Opera */
	@-webkit-keyframes dad_b {
		from {background: blue; left:104%; top:50%;}
		to {background: yellow; left:0%; top:73%;}
	}
	/* Standard syntax */
	@keyframes dad_b {
		from {background: blue; left:103%; top:50%;}
		to {background: yellow; left:0%; top:73%;}
	}
	
	/* Chrome, Safari, Opera */
	@-webkit-keyframes dad_c {
		from {background: blue; left:0%; bottom:2%;}
		to {background: yellow; left:105%; bottom:73%;}
	}
	/* Standard syntax */
	@keyframes dad_c {
		from {background: blue; left:0%; bottom:2%;}
		to {background: yellow; left:105%; bottom:73%;}
	}
	
	/* Chrome, Safari, Opera */
	@-webkit-keyframes dad_d {
		from {background: darkblue; left:102%; bottom:2%;}
		to {background: green; left:2%; bottom:73%;}
	}
	/* Standard syntax */
	@keyframes dad_d {
		from {background: darkblue; left:102%; bottom:2%;}
		to {background: green; left:2%; bottom:73%;}
	}