	.sp_text{
		margin:10%;
		-webkit-animation: txt 2s; /* Chrome, Safari, Opera */
		animation: txt 2s;
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
		animation-delay: 3s;
		-webkit-animation-delay: 3s;
		animation-direction: alternate;
		-webkit-animation-direction: alternate;
	}
	
	#box {
		position:relative;
		width:30%;
		height:15%;
		text-align:center;
	}
	.pie {
		text-align:center;
	}
	.pie .sp_text{
		margin:0%;
	}
	
	.card {
		position: relative;
		width: 15%;
		height: 20%;
		border-radius: 15%;
		background-color:none;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes txt {
		from {color: black;}
		to {color: red;}
	}
	/* Standard syntax */
	@keyframes txt {
		from {color: black;}
		to {color: red;}
	}