/* Damon Code 2014*/


	html{
		background: rgb(0,0,0); /* Old browsers */
	}
	
/* Cool background */
	#space, .stars {
		overflow: hidden;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.stars {
		z-index: -30;
		background-image: 
			radial-gradient(2px 2px at 20px 30px, rgb(100,0,0), rgba(0,0,0,0)),
			radial-gradient(2px 2px at 40px 70px, rgb(150,0,0), rgba(0,0,0,0)),
			radial-gradient(2px 2px at 50px 160px, rgb(250,0,0), rgba(0,0,0,0)),
			radial-gradient(2px 2px at 90px 40px, rgb(150,0,0), rgba(0,0,0,0)),
			radial-gradient(2px 2px at 130px 80px, rgb(150,0,0), rgba(0,0,0,0)),
			radial-gradient(2px 2px at 160px 120px, rgb(250,0,0), rgba(0,0,0,0));
		background-repeat: repeat;
		background-size: 200px 200px;
		animation: zoom 5s infinite;
		-webkit-animation: zoom 5s infinite;
		opacity: 0;
	}

	.stars:nth-child(1) {
		background-position: 50% 50%;
		animation-delay: 0s;
		-webkit-animation-delay: 0s;
	}
	.stars:nth-child(2) {
		background-position: 20% 60%;
		animation-delay: 1s;
		-webkit-animation-delay: 1s;
	}
	.stars:nth-child(3) {
		background-position: -20% -30%;
		animation-delay: 2s;
		-webkit-animation-delay: 2s;
	}
	.stars:nth-child(4) {
		background-position: 40% -80%;
		animation-delay: 3s;
		-webkit-animation-delay: 3s;
	}
	.stars:nth-child(5) {
		background-position: -20% 30%;
		animation-delay: 4s;
		-webkit-animation-delay: 4s;
	}

	@keyframes zoom {
		0% {
		opacity: 0;
		transform: scale(0.5);
		animation-timing-function: ease-in;
		} 
		85% {
		opacity: 1;
		transform: scale(2.8);
		animation-timing-function: linear;
		}
		100% {
		opacity: 0;
		transform: scale(3.5);
		}
	}
	@-webkit-keyframes zoom {
		0% {
		opacity: 0;
		transform: scale(0.5);
		-webkit-animation-timing-function: ease-in;
		} 
		85% {
		opacity: 1;
		transform: scale(2.8);
		-webkit-animation-timing-function: linear;
		}
		100% {
		opacity: 0;
		transform: scale(3.5);
		}
	}
/*end bg */
	
	body{
		background:none;
	}
	
	a{
		color:rgb(250,0,0);
		text-shadow: 3px 2px 1px rgba(0,0,0,1);
	}
	a:hover{
		color:rgb(255,0,0);
		background:rgba(0,0,0,0.2);
	}
	
/* Title/Header */
	header h1{
		display:inline;
		font-size:5em;
		margin:1%;
	}
	header h2{
		display:inline;
		margin-top:0;
		margin-bottom:1%;
	}
	header{
		position:fixed;
		top:0px;
		left:0px;
		width:100%;
		background:rgb(150,0,0);
	}
	
	.page{
		margin:inherit;
		margin-top:11%;
		/*padding-top:1%;*/
		padding:1%;
		border-top: 5px red inset;
		border-left: 5px red inset;
		border-bottom: 5px red outset;
		border-right: 5px red outset;
		background: rgb(150,0,0);
	}

/* Navigation Bar */
	#nav{
		background:black;
		color:red;
	}
	nav{
		padding-top:5px;
		padding-bottom:5px;
		text-align:right;
	}
	nav a{
		color:inherit;
	}
	nav *:visited{
		color:inherit;
	}
	#navMain{
		background:none;
		font-size:2em;
		border-bottom: 3px darkred outset;
	}
	#navMain div{
		width:19.9%;
		text-align:center;
		display: inline-block;
	}
	#navMain div:hover{
		background:rgba(255,255,255,0.15);
	}
	.submenu div{
		padding-left: 3%;
		padding-right: 3%;
		text-align:center;
		display: inline-block;
		font-size:1.3em;
		border-left: 1px red solid;
		border-right: 1px red solid;
	}
	.submenu div:hover{
		background:rgba(255,255,255,0.15);
	}
	#navUser{
	vertical-align: top;
	margin-left:0.2%;
	}

/* User Login Controls */
	#userForm{
		display:inline;
	}
	#userForm input {
		margin: 1.5;
	}
	#regForm{
		margin:1%;
		position:relative;
		left:34%;
		width:32%;
		text-align:center;
	}
	.spacer{
		visibility:hidden;
		}
	
/* Site */
	/*img:hover{
		position: absolute;
		width: 90%;
		left: 5%;
		top: 5%;
	}*/
	.obj{
		display:inline-block;
		vertical-align: top;
		padding:1%;
		margin:1%;
		background: rgba(0,0,0,0.6);
		border: 3px rgba(0,0,0,0) groove;/*
		border-radius: 10%;*/
	}
	.obj:hover{
		background: rgba(250,0,0,0.4);
		border: 3px rgba(0,0,0,0.6) groove;
		color:black;
		text-shadow: none;
	}
	.obj h1, .obj h2, .obj h3{
		color:red;
		margin-top:2%;
		margin-bottom:3%;
	}
	
	.FrCur {
		background:rgba(0,0,0,0.1);
	}
	
	.FrPend{
		background:rgba(100,255,100,0.15);
	}
	.FrBye{
		background:rgba(0,5,0,0.6);
	}
	
	.FrList{
		border-collapse:collapse;
		width:35%;
		text-align: center;
	}
	
	.FrOpt{
		border-collapse:collapse;
		width:25%;
		text-align: center;
	}
	
	.FrCur td, .FrPend td, .FrBye td {
		width: 33%;
	}
	
	
	