html{
	background:rgb(0,0,0);
    font-family: monospace;
}
body{
	margin:0;
}
a{
	color:rgba(200,0,0,1);
}
.headbar{
	color:black;
	display:block;
	width:calc(100%-20px);
	overflow:hidden;
	font-size: 2.5em;
	background:white;
	padding: 10px;
	text-align:center;
	text-decoration:none;
}
.headbar:hover{
	color:rgba(200,0,0,1);
}
.linkbar{
	display:table-cell;
	padding: 10px;
	height:50px;
	font-size: 2em;
	color:white;
	text-align:center;
	text-decoration:none;
	background:rgba(0,0,0,0.8);
}
.linkbar:hover{
	background:rgba(200,0,0,1);
}
.linktitle{
	vertical-align: bottom;
}
.linksbar{
	background:white;
	display:table;
	width:100%;
	overflow:hidden;
}
footer{
	position:fixed;
	z-index:100;
	overflow:hidden;
	bottom:0;
	right:0;
	background:rgba(0,0,0,0.8);
	padding:10px;
}

._pannel{
	display:inline-block;
	text-decoration:none;
	text-align:center;
	margin:0;
	padding-left:10px;
}

#seclock{
	height:40px;
	width:70px;
	background:url('//shield.sitelock.com/shield/deamon.info');
	background-repeat: no-repeat;
	background-size: contain;
	background-origin: content-box;
	padding-top: 5px;
}

#page{
	background:white;
	position:relative;
	left:5%;
	top:30px;
	width:90%;
	padding:10px;
	margin-bottom:100px;
}

#newfeed{
	border-top:solid grey 2px;margin-top: 20px;
}
#newfeed article{
	background:lightgray;
	padding:1em;
	margin-top:1em;
}

#newfeed article h1{
	text-decoration:underline;
	margin-top:0.5em;
	margin-bottom:0.2em;
	font-size:x-large;
	display: inline-block;
}

#newfeed article .edit{
	display: inline-block;
	float: right;
}

#newfeed article .info{
	margin-left:1em;
	margin-bottom:0.2em;
}

#newfeed article .info .profileL{
	margin-right:1em;
}

#newfeed article .info *{
	text-decoration:none;
	font-style: italic;
	color:rgba(0,0,0,0.9);
	display:inline-block;
}

#newfeed article .tags{
	margin-bottom:1em;
}

#newfeed article .tags *{
	background:rgba(0,0,0,0.1);
	text-decoration:none;
	color:inherit;
	font-weight:bold;
	padding-left:0.5em;
	padding-right:0.5em;
	padding-top:0.2em;
	padding-bottom:0.2em;
}

#newfeed article .tags *:hover{
	background:rgba(200,0,0,1);
	color:white;
}

#feed_post{
	padding:10px;
}

#nft,#nfta{
	padding:5px;
	margin-bottom:1em;
}

#nfc{
	padding:5px;
	width:100%;
	height:8em;
	margin-bottom:1em;
}

#postbutton{
	padding:0.5em;
	padding-left:1.5em;
	padding-right:1.5em;
}

.prof{
	width:2em;
	height:2em;
	border-radius:0.8em;
	background:white;
	vertical-align: text-bottom;
}


/* Editor CSS */
	.horizonal_half{
		width:100%;
	}

	#coding_area{
		width:100%;
		height:50%;
		border:0;
		padding:0;
	}

	#controlbox{
		width:100%;
	}
	
	.controls{
		display:inline;
	}

	#current_page{
		width:100%;
		height:50%;
		padding:0;
		margin-bottom:1%;
		border:0;
		background:grey;
	}
	
	
/* Tables */
.table tr:nth-child(even) {background: rgba(0,0,0,0.1)}
.table tr td:nth-child(even) {background: rgba(0,0,0,0.05)}

/*
@media screen and (max-width: 1100px){
#page{
top:14em;
}
}
*/

	.obj{
		display:inline-block;
		vertical-align: top;
		padding:1%;
		margin:1%;
		background: rgba(0,0,0,0.9);
		border: 3px rgba(0,0,0,1) groove;
		color:white;
		text-decoration:none;
		font-size:2em;
	}
	.obj:hover{
		background: white;
		color:black;
		text-shadow: none;
	}
	.obj h1, .obj h2, .obj h3{
		color:red;
		margin-top:2%;
		margin-bottom:3%;
	}
	
.sucess{
	background:green;
}
.failure{
	background:red;
}