/*I'm favouring some sort black and white but open to suggestions*/
html{
	background:black;
}
a{
	color:red;
}
body{
	margin:0;
}
body table{
	border-collapse: collapse;
}
header{
	background:rgba(200,100,0,0.5);
	height:100%;
	width:100%;
}
.userpanel{
	background:pink;
}
nav{
	background:rgba(255,255,0,0.5);
}
nav div{
	display:block;
	padding-bottom:1em;
	cursor: copy;
	border-top:3px silver solid;
}
nav div:hover{
/*This would be a solid transpartent colour but i wanted to spite emma :P*/
background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(77,77,77,0) 30%, rgba(255,255,255,0.3) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(30%,rgba(77,77,77,0)), color-stop(100%,rgba(255,255,255,0.3))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(77,77,77,0) 30%,rgba(255,255,255,0.3) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(77,77,77,0) 30%,rgba(255,255,255,0.3) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(77,77,77,0) 30%,rgba(255,255,255,0.3) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 0%,rgba(77,77,77,0) 30%,rgba(255,255,255,0.3) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#4dffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
nav div p{
	display:inline;
	text-shadow: 0px 1px 3px black;
    vertical-align: text-bottom;
    margin: 2px;
}
nav div a{
	text-decoration:none;
	color:inherit;
    margin: 2px;
}
nav div ul{
	display:none;
	background:rgba(0,0,0,0.1);
    list-style-type: lower-greek;
    #list-style-type: lower-roman;
    #list-style-type: binary;
}
nav div ul li:hover{
	background:rgba(255,255,255,0.1);
}
.sidebar{
	width:15em;
	vertical-align: baseline;
}
.page{
	border-top:3px silver solid;
	border-left:3px silver solid;
	background:white;
	padding:1em;
}
.content{/*Content should preferably be inplace scrollable or the header/nav/user panel can be static? and move with the page.*/
    overflow-y: auto;
    height: 80vh;
}